html, body{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    font-weight: 200;
    -webkit-user-select: none;
    cursor: default;
    min-width: 735px;
    min-height: 500px;
}

#board{
    display: inline-block;
    position: relative;
    font-family: cursive;
    font-size: 20px;
    position: relative;
    left: -150px;
    bottom: -25px;
}

#board .cell{
    background: #1976d2;
    color: #fff;
    display: block;
    text-align: center;
    position: absolute;
    border: 1.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board .cell.active{
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

#controls{
    position: absolute;
    top: 0px;
    width: 100%;
    background: #fff;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #e1e4e8 solid;
    padding: 0px 20px;
}

#controls>div{
    float: left;
}


.logo{
    margin: 0 25px;
    font-weight: 400;
}

.logo>span:first-child{
    color: #1976d2;
}

button{
    border-radius: 3px;
}

button:hover{
    background: #eee;
}


select, button{
    background: transparent;
    border: none;
    height: 30px;
    line-height: 29px;
    padding: 0 12px;
    cursor: pointer;
}

*:focus{
    outline: none;
}

.lnr{
    font-size: 19px;
    position: relative;
    bottom: -3px;
    margin-right: 7px;
}
#console{
    position: fixed;
    height: calc(100% - 61px);
    padding: 5px;
    width: 300px;
    right: 0px;
    background: #333;
    top: 51px;
    overflow: auto;
    font-family: monospace;
    color: #ccc;
}

#console>pre{
    margin: 5px;
}

.github-button{
    display: none;
}

.github{
    position: absolute;
    right: 40px;
    top: 8px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border: 2px solid #666;    
    width: 10px;
    border-radius: 5px;
  }